@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}

/* >>>>>>>>>>>>>>>>>>>>>> Components <<<<<<<<<<<<<<<<<<<<<<<<<< */

h3 {
    padding: 5px;
}
.card {
    padding: 20px;
    background-color: white;
    box-shadow: 0 .125rem rgba(0, 0, 0, .075);

}